* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

 p {
    line-height: 150%;
    text-indent: 20px;
    text-align: justify;
}


a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style: none;
}




/*navegacion */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
}

/* navegacion izquierda*/
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 15px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid white;
}

.nav-main ul li a {
padding: 2px;

}


.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

/*Banner principal*/
.showcase p{
    line-height: 150%;
    font-size: 20px;
    color: white;
}
hr {
    margin: 10px 0;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: black;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    margin: 10px 0;
}

.btn:hover {
    opacity: .7;
}


    
 


/*------------------------------------------------------------------------------------------------------------*/
/*estilos*/

        .hyper {
            color: blue;
        }

       